<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/login.css')}}"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>MedVault|LOGIN</title>
  </head>

  <body>
    {% if status == 'exsist' %}
    <script>
      function YourFunction() {
        alert("User already exsists...");
      }
      YourFunction();
    </script>
    {% endif %} {% if status == 'sucess' %}
    <script>
      function YourFunction() {
        alert(" Registration successful Please login !");
      }
      YourFunction();
    </script>
    {% endif %} {% if status == 'error' %}
    <script>
      function YourFunction() {
        alert(" Wrong password Please try again. !");
      }
      YourFunction();
    </script>
    {% endif %}
    <div class="curve"></div>
    <div class="imgbg">
      <img
        src="{{url_for('static', filename='styles/3894058.jpeg')}}"
        class="img"
      />
    </div>

    <a href="{{url_for('home')}}"><i class="bx bx-arrow-back"></i></a>

    <div class="backdrop">
      <div class="wrapper">
        <div class="form-box-login">
          <h2 class="login-head">LOGIN</h2>
          <form action=" {{ url_for('login')}}" method="POST">
            <div class="input-login">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email" id="Email" name="email" required />
              <label>Email</label>
            </div>
            <div class="input-login">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" id="Password" name="password" />
              <label>Password</label>
            </div>
            <div class="remember-box">
              <label><input type="checkbox" />Remember Me</label>
              <a class="link" href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn" id="Login">LOGIN</button>
            <div class="register">
              <p>
                Don't have an account?<a class="register-link" href="#">
                  REGISTER</a
                >
              </p>
            </div>
          </form>
        </div>

        <div class="form-box-register">
          <h2 class="login-head">REGISTRATION</h2>
          <form action="{{url_for('register')}}" method="post">
            <div class="input-login">
              <span class="icon"><ion-icon name="person"></ion-icon></span>
              <input type="text" id="Username" name="Username" required />
              <label>Username</label>
            </div>
            <div class="input-login">
              <span class="icon"><ion-icon name="mail"></ion-icon></span>
              <input type="email" id="RegEmail" name="Email" required />
              <label>Email</label>
            </div>
            <div class="patient-box">
              <label
                ><input
                  type="checkbox"
                  name="checkboxGroup"
                  value="Patient"
                />Patient</label
              >
              <label
                ><input
                  type="checkbox"
                  name="checkboxGroup"
                  value="Health Representative"
                />Health Representative</label
              >
            </div>

            <script id="checkbox">
              document.addEventListener("DOMContentLoaded", function () {
                var checkboxes = document.querySelectorAll(
                  '.patient-box input[type="checkbox"]'
                );

                checkboxes.forEach(function (checkbox) {
                  checkbox.addEventListener("change", function () {
                    checkboxes.forEach(function (otherCheckbox) {
                      if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                      }
                    });
                  });
                });
              });
            </script>

            <div class="input-login">
              <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
              <input type="password" id="RegPassword" required />
              <label>Password</label>
            </div>
            <div class="remember-box">
              <label
                ><input type="checkbox" />I agree to the Terms &
                Conditions</label
              >
            </div>
            <button type="submit" class="btn" id="Register">REGISTER</button>
            <div class="login">
              <p>
                Already have an account?<a class="login-link" href="#">
                  LOGIN</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='scripts/login.js')}}"></script>
  </body>
</html>
