<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/contact.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>MedVault|Contact Us</title>
  </head>

  <body>
    <header class="container">
      <div class="navbar">
        <div class="logo-heading">
          <a><span>Med</span>Vault</a>
        </div>
        <div class="nav-items">
          <a href="../templates/home.html" class="active">HOME</a>
          <a href="../templates/about.html">ABOUT US</a>
          <a href="../templates/contact.html">CONTACT US</a>
          <a href="../templates/login.html" method="POST">
            <button class="lg-btn">LOGIN</button>
          </a>
        </div>
      </div>
    </header>
    <div class="card-container">
      <div class="card" id="card1">
        <h1>B SAI KASHYAP</h1>
        <h3>FRONTEND DEVELOPER</h3>
        <br /><br /><a
          href="https://www.linkedin.com/in/b-sai-kashyap-408259255/"
          >Linkedin</a
        ><i class="bx bxl-linkedin-square"></i><br /><br />
        <a>GitHub</a><i class="bx bxl-github"></i>
      </div>
      <div class="card" id="card2">
        <h1>MOHITH N</h1>
        <h3>BLOCKCHAIN DEVELOPER</h3>
        <br /><br /><a
          href="https://www.linkedin.com/in/b-sai-kashyap-408259255/"
          >Linkedin</a
        ><i class="bx bxl-linkedin-square"></i><br /><br />
        <a>GitHub</a><i class="bx bxl-github"></i>
      </div>
      <div class="card" id="card3">
        <h1>V SHREE HARSHITHA</h1>
        <h3>BACKEND DEVELOPER</h3>
        <br /><a
        href="https://www.linkedin.com/in/b-sai-kashyap-408259255/"
        >Linkedin</a
      ><i class="bx bxl-linkedin-square"></i><br /><br />
      <a>GitHub</a><i class="bx bxl-github"></i>
      </div>
      <div class="card" id="card4">
        <h1>VIGNESH S</h1>
        <h3>BACKEND DEVELOPER</h3>
        <br /><br /><a
          href="https://www.linkedin.com/in/vignesh-s-9426b327a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app "
          >Linkedin</a
        ><i class="bx bxl-linkedin-square"></i><br /><br />
        <a href="https://github.com/Vignesh31-sk">GitHub</a><i class="bx bxl-github"></i>
      </div>
    </div>

    <div class="arrow-buttons">
      <button onclick="prevCard()">❮</button>
      <button onclick="nextCard()">❯</button>
    </div>
    <div class="imgbg">
      <img src="../static/styles/rename.png" class="img" />
    </div>

    <script src="../static/scripts/contact.js"></script>
  </body>
</html>
