<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>MedVault</title>
  </head>

  <body>
    <
    <header class="container">
      <div class="navbar">
        <div class="logo-heading">
          <a><span>Med</span>Vault</a>
        </div>
        <div class="nav-items">
          <a href="#" class="active">HOME</a>
          <a href="{{url_for('about')}}">ABOUT US</a>
          <a href="{{url_for('contact')}}">CONTACT US</a>
          <a href="{{url_for('login')}}" method="POST">
            <button class="lg-btn">LOGIN</button>
          </a>
        </div>
      </div>
    </header>
    <div class="curve"></div>
    <div class="curve2"></div>
    <section class="home-content">
      <h3>Welcome To</h3>
      <h1 id="text"><span>Med</span>Vault</h1>
      <h2>Your Health, Your Vault: Confidential Medical Report Storage</h2>

      <div class="imgbg">
        <img src="../static/styles/home.png" class="img" />
      </div>
    </section>
    <section class="login-page"></section>
  </body>
</html>
