<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Storage</title>
    <link rel="stylesheet" href="../static/styles/note.css">
</head>
<body>
    <a href="../templates/main.html"><i class='bx bx-arrow-back'></i></i></a>
    <div class="logo-heading">
        <a><span>Med</span>Vault</a>
      </div>
    <h2>NOTE</h2>
    <div class="items">
    <textarea class="content" id="textInput"></textarea>
    <button class="sbtn" onclick="saveText()">Save Text</button>
    <button class="cbtn" onclick="clearText()">Clear Text</button>
    </div>
    <script src="../static/scripts/note.js"></script>

</body>
</html>
