<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Storage</title>
    <link rel="stylesheet" href="../static/styles/note.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="logo-heading">
      <a><span>Med</span>Vault</a>
    </div>

    <div class="sidebar">
      <div class="content">
        <i class="bx bx-menu" id="btn"></i>
      </div>

      <ul class="list">
        

        <li class="list-item active">
          <a href="../templates/main.html" class="list-link">
            <i class="bx bxs-dashboard"></i>
            <span class="link-name">Dashboard</span>
          </a>
          <span class="badge">Dashboard</span>
        </li>
        <li class="list-item">
          <a href="../templates/profile.html" class="list-link">
            <i class="bx bx-user"></i>
            <span class="link-name">User</span>
          </a>
          <span class="badge">User</span>
        </li>
        <li class="list-item">
          <a href="../templates/note.html" class="list-link">
            <i class="bx bx-file-blank"></i>
            <span class="link-name">Note</span>
          </a>
          <span class="badge">Note</span>
        </li>
      
      </ul>
      <ul class="list-logout">
        <li>
          <a href="#" class="list-link">
            <form
              action="{{url_for('logout')}}"
              method="post"
              onSubmit="if(!confirm('Do you want to log out .')){return false;}"
            >
              <i class="bx bx-log-out"><input type="submit" /></i>
            </form>
            <span class="link-name">Log Out</span>
            <span class="badge">Log Out</span>
          </a>
        </li>
      </ul>
    </div>
    <!----------------------------------------------------->
    <div class="note-container">
      <div class="color-picker">
          <input type="color" id="colorPicker" value="#ffcc00">
      </div>
      <div class="items">
          <textarea class="item-content" id="textInput" placeholder="Type your note here..."></textarea>
          <button class="sbtn" onclick="saveNote()">Save Note</button>
          <button class="cbtn" onclick="clearNotes()">Clear Notes</button>
      </div>
      <div class="saved-notes" id="savedNotes">
          <!-- Saved notes will appear here -->
      </div>
  </div>
    <script src="../static/scripts/note.js"></script>
  </body>
</html>
