<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MedVault|User</title>
        <link rel="stylesheet" href="../static/styles/profile.css">
                                        
    </head>
    <body>
        <div class="logo-heading">
            <a><span>Med</span>Vault</a>
          </div>
    <a href="../templates/main.html"><i class="bx bx-arrow-back"></i></a>
        <div class="slide-container">
            <h2 class="head">USER</h2>
            <div class="wrapper">
               
               <div class="use-con">
                    <div class="user-in">
                      
                        <label>Username:</label>
                    </div>
                    <div class="user-in">
                       
                        <label>Email:</label>
                    </div>
                    <div class="user-in">
                        
                        <label>Password:</label>
                    </div>
                    <div class="user-in">
                        
                        <label>Category:</label>
                    </div>
                    <a href="main.html">
                    <button type="submit" class="btn" id="back">BACK</button>
                    </a>
                </div>
            </div>
        
    </body>
</html>