@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(231, 231, 231);
}
.logo-heading {
  position: fixed;
  font-size: 2em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  pointer-events: none;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  left: 110px;
  font-weight: 900;
  top: 25px;
  margin-bottom: 10px;
  cursor: pointer;
}
.logo-heading span {
  color: #143fb8;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: rgba(45, 70, 199, 255);
  padding: 30px 14px;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.sidebar.active {
  width: 210px;
  overflow: hidden;
}

.sidebar #btn {
  position: absolute;
  top: 20px;
  left: 45%;
  font-size: 40px;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sidebar.active #btn {
  left: 90%;
  top: 0px;
  background: rgba(26, 43, 130, 255);
  color: white;
  transition-delay: 0.1s;
  font-weight: 900;
  border-bottom-left-radius: 8px;
}
.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  height: 50px;
  width: 100%;
  margin: 80px 0;
  line-height: 50px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.sidebar ul li input {
  position: absolute;
  margin-top: 10px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 6px;
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  padding-left: 50px;
  color: white;
}

.sidebar.active ul li input {
  padding: 0 10px 0 50px;
  opacity: 1;
}

.sidebar ul li a {
  position: relative;
  display: flex;
  color: white;
  align-items: center;
  font-weight: 900;
  height: 100%;
  margin-top: 0px;
  white-space: nowrap;
  width: 100%;
  line-height: 50px;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar ul li a:hover {
  background: rgba(26, 43, 130, 255);
  color: white;
  transition-delay: 0.1s;
  font-weight: 900;
  align-content: center;
  border-radius: 6px;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  margin-left: 5px;
  font-size: 35px;
  text-align: center;
  align-items: center;
  line-height: 50px;
  border-radius: 6px;
}

.sidebar.active ul li i {
  font-size: 25px;
  margin-right: 15px;
}

.sidebar ul li .link-name {
  opacity: 0;

  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.sidebar.active ul li .link-name {
  opacity: 1;
  transition-delay: 0.2s;
  font-size: 20px;
  pointer-events: auto;
}

.sidebar .list-logout {
  position: absolute;
  bottom: 80px;
  margin: 15px 0;
  width: 100%;
  white-space: nowrap;
  height: 50px;
  padding-right: 30px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.sidebar.active .list-logout {
  width: 100%;
  padding-right: 30px;
}
.sidebar.active .list-logout .list-link input {
  display: none;
}

.sidebar ul li .badge {
  position: absolute;
  top: 0;
  left: 160px;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 35px;
  background: #274393;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s ease;
}

.sidebar ul li:hover .badge {
  opacity: 1;
  transition: 0.5s ease;
  top: 50%;
}
.sidebar.active ul li .badge {
  display: none;
}
/******************/
.note-container {
  position: relative;
      max-width: 800px;
      width: 100%;
  text-align: center;
 background-color: rgba(231, 231, 231, 0.815);
  padding: 40px;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.301);
}

.color-picker {
  display: flex;
  margin-bottom: 20px;
  border-radius: 2px;
}

.color-picker input {
  width: 30px;
  height: 30px;
  border: none;
  border-radius:80px;
  cursor: pointer;
}

.items {
  margin-bottom: 20px;
}

.item-content {
  width: 500px;
  height: 200px;
  resize: none;
  border: 1px solid #ccc;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.071);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.sbtn {
  position: relative;
  top: 30px;
  left:-300px;
  padding: 12px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #274393;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cbtn{
  margin-left:10px;
  position: relative;
  top: 0px;
  left:-0px;
  padding: 8px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #274393;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.sbtn:hover{
  background-color: #1a2c58;
  color: white;
  border: none;
}

.cbtn:hover {
  background-color: #1a2c58;
  color: white;
  border: none;
}

.saved-notes {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  font-weight: 1000;
  text-align: left;
}

.note {
  padding: 10px;
  margin: 30px;
  border-radius:9px;
  border: 1px solid #ccc;
  max-width: 200px;
  word-wrap: break-word;
}
