body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.items {
    text-align: center;
}

#textInput {
    margin-top: 10px;
    width: 80%;
    height: 400px;
    border-radius: 5px;
    border: 1px solid blue;
    margin-bottom: 10px;
    padding: 10px;
}

.sbtn,
.cbtn {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sbtn {
    background: rgb(8, 71, 16);
    background: linear-gradient(
        90deg,
        rgba(8, 71, 16, 1) 0%,
        rgba(27, 136, 31, 1) 59%,
        rgba(40, 195, 99, 1) 100%
    );
    color: white;
    margin-left: 45%;
}

.cbtn {
    background-color: #af4c4c;
    color: white;
    margin-left: 0%;
}

