body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
    
    
}

#textInput {
    margin-top: 0px;
    width: 80%;
    margin-left:10%;
    height: 400px;
    border-radius: 5px;
    border: 1px solid blue;
    margin-bottom: 10px;
    align-items: center;
}
.sbtn{
    margin-left:45%;
    width: 80px;
    height: 50px;
   
background: rgb(8,71,16);
background: linear-gradient(90deg, rgba(8,71,16,1) 0%, rgba(27,136,31,1) 59%, rgba(40,195,99,1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.cbtn{
    margin-left:0%;
    width: 80px;
    height: 50px;
    background-color: #af4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
h2{
    position: absolute;
    margin-left:48%;
    top: 10px;

}